<!-- Nagłówek -->
<app-navbar></app-navbar>
<!-- koniec nagłówka -->

<div class="container q-container">
    <!--Dodawanie cytatu-->
    <button class="btn-floating teal add-button" (click)="form.onSwitchForm()">
      <i class="material-icons">add</i>
    </button>
    <app-form #form (newQuote)="onNewQuote($event)"></app-form>
    <!-- Koniec dodawania cytatu -->

    <div class="row ">
        <!-- Lista cytatów -->
        <div class="col s8 ">
            <app-quotes-list [quotes]="quotes"></app-quotes-list>
        </div>
        <!-- Koniec lista cytatów -->

        <!-- Sekcja rankigów -->
        <div class="col s4 ">
            <app-rankingi [quotes]="bestQuotes()" title="Najlepsze"></app-rankingi>
            <app-rankingi [quotes]="worstQuotes()" title="Najgorsze"></app-rankingi>
        </div>
        <!-- Sekcja rankigów -->
    </div>
</div>